*{
    box-sizing: border-box;
}

.container{
    background-color: #cc7d7d;
    height:200px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;

}

.container > div{
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    margin: 1px;
    border: 3px #c4def6 solid;
    flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 1;

#facebook{
    

}